/* *******************************1440px***************************** */
@media (min-width:1440px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width:1440px) {

    #poster {
        left: 4%;
    }

    .product_text {
        left: 5%;
        top: 1%;
    }

    .watch_list_1 {
        padding: 30px 0px 0px 16px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box_1 {
        width: 100%;
        height: 173px;
    }

    .discount_img {
        z-index: 1;
    }

    .watch_2 {
        padding: 5px 5px 3px;
        margin-bottom: 30px;
        width: 31%;
        height: 320px;
    }

    .watch_text_0 {
        gap: 5px;
        margin-top: 0%;
    }

    .in_watch_2 {
        padding: 10px 10px 10px;
        height: 196px;
    }

    img.watch,
    .hover_img_1 {
        position: absolute;
        top: 9%;
        left: 22%;
        width: 160px;
        padding-top: 19px;
    }
}

@media (max-width:1360px) {
    .big_text {
        top: 57%;
        right: 1%;
    }

    .watch_text_0 {
        gap: 5px;
        margin-top: 0%;
    }

    .watch_2 {
        width: 280px;
    }

    .watch_list_1 {
        padding: 5px 0px 0px 0px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: end;
    }

    .box_1 {
        width: 100%;
        height: 175px;
    }

    img.watch,
    .hover_img_1 {
        top: 17%;
        left: 20%;
        padding-top: 3px;
    }

    button.back_top_btn {
        position: unset;
    }
}

@media (max-width:1280px) {
    .gallery_main_1 {
        top: 72%;
        left: -227%;
    }

    p.silde_text_2 {
        font-size: 15px;
        width: 42%;
    }

    .water_img {
        top: 48%;
        right: -1%;
    }

    #iphone {
        position: absolute;
        top: 6%;
        right: 10%;
    }

    #camera {
        position: absolute;
        top: 9%;
        right: 0%;
        width: 415px;
    }

    #watch3 {
        top: 11%;
        right: 0%;
        width: 375px;
    }

    .big_text,
    .back_text_1 {
        top: 57%;
        right: 11%;
        font-size: 160px;
    }

    .hover_img,
    img.watch_img {
        position: absolute;
        top: 10px;
        left: 15px;
        width: 160px;
    }

    .watch_img_1 {
        padding: 10px 0px 5px;
    }

    .in_watch_1 {
        padding: 10px 15px 15px;
    }

    .watch_1 {
        padding: 0px 10px;
    }

    .poster_img {
        width: 665px;
        height: 508px;
        bottom: 0%;
        left: 0%;
    }

    .poster_main_text {
        top: 24%;
        right: 9%;
        width: 36%;
    }

    .poster_title_1 {
        font-size: 31px;
    }

    .poster_title_2 {
        font-size: 15px;
    }

    .discount_img {
        width: 224px;
    }

    .watch_list_1 {
        padding: 0px 0px 0px 30px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

    }

    .watch_2 {
        width: 234px;
    }

    img.watch,
    .hover_img_1 {
        top: 17%;
        left: 17%;
        padding-top: 3px;
    }
}

@media (max-width:1199px) {
    button.owl-next {
        right: 44%;
        bottom: -2%;
    }

    .big_text,
    .back_text_1 {
        top: 52%;
        right: 0%;
        font-size: 160px;
    }

    .in_watch_1 {
        padding: 10px 10px 10px;
    }

    .box {
        width: 180px;
        height: 175px;
    }

    .hover_img,
    img.watch_img {
        top: 10px;
        left: 9px;
        width: 160px;
        position: absolute;
    }

    .poster_bg {
        width: 100%;
        height: 460px;
    }

    .poster_img {
        width: 630px;
        height: 490px;
        bottom: 5%;
        left: -7%;
    }

    .poster_main_text {
        top: 21%;
        right: 5%;
        width: 39%;
    }

    #poster {
        left: 0%;
        bottom: 12%;
    }

    .watch_2 {
        margin-bottom: 13px;
    }
}

@media (max-width:991px) {
    #menu {
        visibility: hidden;
    }

    #menu {
        visibility: visible;
    }

    .menu_toggle_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        /* z-index: 600; */
        margin-left: 55%;
    }

    .menu_toggle_btn span {
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        border-radius: 30px;
        background: #EB6A2A;
        transition: all 0.5s ease;
    }

    .open_btn {
        visibility: visible;
        z-index: 600;
        position: absolute;
        top: 3%;
        right: 6%;
        background: transparent;
        border: none;
        font-size: 30px;
        color: #EB6A2A;
    }

    .in_header_wrapper:hover .menu_toggle_btn span {
        background: #EB6A2A;
    }

    .menu_toggle_btn span:nth-child(1) {
        margin-top: 5px;
    }

    #menu {
        position: fixed;
        top: 0px;
        left: -100%;
        background: #ffffff;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 400;
        pointer-events: none;
        transition: all 0.6s ease;
        transition-delay: .2s;
    }

    #menu {
        max-width: 100%;
        max-height: 100%;
        flex-flow: column;
        display: flex;
        overflow-y: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #menu li {
        padding-right: 0;
        padding: 14px 0px 14px 2px;
        width: 100%;
    }

    .banner_layer {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #33333380;
        transition: all 1.0s ease;
        z-index: 100;
    }

    .menu_open .banner_layer {
        left: 0px;
        z-index: 5;
    }

    .menu_open #menu {
        left: 0;
        width: 50%;
        pointer-events: visible;
        visibility: visible;
        position: relative;
    }

    .gallery_main_1,
    .watch_box_0 {
        min-width: 300px;
        position: unset;
        flex-direction: column;
        margin: 15px 5px;
    }

    .gallery_sub_1 {
        display: flex;
        justify-content: center;
    }

    .section_box_1 {
        width: 316px;
        height: 95px;
        justify-content: center;
    }

    .in_box {
        padding: 11.5%;

    }

    .box_text {
        display: flex;
        justify-content: center;
    }

    .padding_ {
        padding-top: 25%;
    }

    .parent:hover>ul {
        margin: 15px 0px 0px 0px;
        padding: 0px;
    }

    .parent a {
        margin: 0px;
        display: flex;
        align-items: center;
    }

    .child li {
        line-height: 15px;
    }

    .child li a {
        margin-top: 0px;
    }

    .child {
        width: 100%;
        padding: 10px 0px 0px 0px;
        box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, .16);
    }

    .angle {
        position: absolute;
        right: 7%;
        display: unset;
    }

    a.dropdown_item {
        padding: 0px 0px 0px 10px;
    }

    ul#down {
        margin: 14px 0px 0px 0px;
    }

    li#open {
        padding: 10px 0px 30px 0px;
    }

    a.navbar_side_p {
        padding-left: 15px;
    }

    .expand {
        position: absolute;
        right: 0%;
    }

    .parent:hover>ul {
        display: block;
        position: unset;
    }

    .gallery_sub {
        position: unset;
        top: 60%;
        right: -75%;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 30px 0px 30px 20px;
    }

    .gallery_main {
        padding: 0px;
    }

    .in_div {
        flex-direction: column;
    }

    .logo {
        z-index: 0;
    }

    .center_section {
        width: 100%;
        min-height: 735px;
    }

    .watch_silde_1 {
        width: 322px;
        height: 435px;
    }

    #iphone {
        top: 21%;
        right: 9%;
    }

    .water_img {
        top: 62%;
        right: -1%;
    }

    #camera {
        top: 40%;
        right: 4%;
        width: 385px;
    }

    #watch3 {
        top: 30%;
        right: 2%;
        width: 355px;
    }

    .owl-carousel .owl-stage-outer {
        overflow: hidden;
        height: 788px;
        /* width: 700px; */
    }

    .owl-dots {
        left: 41%;
        bottom: 8.6%;
    }

    .big_text,
    .back_text_1 {
        top: 51%;
        right: -32.5%;
        font-size: 150px;
        letter-spacing: -10px;
        line-height: 161px;
    }

    h1.silde_text_1 {
        padding: 0% 0px 2.8% 0px;
    }

    p.silde_text_2 {
        padding-bottom: 1.6%;
        font-size: 15px;
        width: 62%;
    }

    button.owl-next {
        right: 42%;
        bottom: 4%;
    }

    .owl-nav button.owl-prev {
        left: 33.8%;
        bottom: 4%;
    }

    a.silde_btn_1 {
        padding: 2.7% 3% 2.7% 3%;
    }

    .watch_card_1::before {
        right: -162%;
        width: 370px;
    }

    .trending {
        padding: 0px 0px 40px;
    }

    .watch_box {
        flex-wrap: wrap;
        gap: 30px;
    }

    .in_watch_1 {
        padding: 15px 20px 20px;
    }

    .box {
        width: 195px;
        height: 190px;
    }

    .hover_img,
    img.watch_img {
        width: 175px;
    }

    .poster_img {
        width: 617px;
        height: 460px;
    }

    .poster_main_text {
        top: 21%;
        right: 2%;
        width: 42%;
    }

    .poster_bg {
        width: 100%;
        height: 435px;
    }

    .poster_btn {
        width: 140px;
        height: 40px;
        font-size: 12px;
    }

    #poster {
        left: -10%;
        bottom: 5%;
    }

    .mb-3 {
        margin-bottom: 5px !important;
    }

    .like {
        padding-top: 10px;
        padding-right: 15px;
    }

    .star {
        padding: 10px 0px 0px 10px;
        font-size: 15px;
    }

    i.fa-regular.fa-heart {
        font-size: 16px;
    }

    .discount_watch {
        justify-content: flex-end;
        width: 79%;
        padding-bottom: 1px;
    }

    .watch_list_1 {
        padding: 0px 0px 0px 60px;
        justify-content: flex-end;
    }

    .watch_2 {
        margin-bottom: 0px;
        width: 45%;
        height: 250px;
        padding: 0px 7px 0px;
    }

    img.watch,
    .hover_img_1 {
        top: 10%;
        left: 17%;
        width: 150px;
    }

    .watch_text_0 {
        gap: 2px;
        margin-top: 0%;
    }

    .in_watch_2 {
        padding: 0px 5px 5px;
    }

    .product_text {
        left: 44%;
        top: -4%;
    }

    .poster_title_1 {
        font-size: 25px;
    }

    .poster_title_2 {
        font-size: 13px;
    }

    .poster_main_text {
        width: 39%;
    }

    .poster_img {
        width: 591px;
        height: 490px;
    }

    ul#pills-tab {
        border-bottom: 1px solid #efefef;
        padding-bottom: 0px;
        padding-left: 21%;
        justify-content: center;
    }

    .discount_img {
        width: 250px;
    }

    .box_1 {
        width: 100%;
        height: 140px;
    }

    .contry_logo {
        display: flex;
        padding: 20px 0;
        flex-wrap: wrap;
        align-items: center;
    }

    .contry_1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contry_title {
        border-right: none;
        height: 35px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contry_title_4 {
        border-right: none;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        height: 35px;
        justify-content: center;
    }

    img.contry_code {
        padding: 0px 12px 0px 13px;
        margin: 10px 0;
    }

    .last_text_2 {
        margin-right: 0%;
    }

    .footer_row {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
    }

    .link_area {
        gap: 8px;
        width: 50%;
    }

    .back_top_btn {
        position: unset;
        right: 3%;
        padding-top: 4%;
    }

    .stores_area {
        gap: 8px;
        width: 24%;
        z-index: 4;
    }

    .link_area {
        gap: 8px;
        width: 35%;
    }

    sup {
        top: 1em;
    }    

    .center_section {
        width: 100%;
        min-height: 740px;
    }

    .poster_bg {
        width: 100%;
        height: 400px;
    }

    .poster_img {
        width: 575px;
        height: 435px;
    }

    .poster_main_text {
        top: 21%;
        right: 2%;
        width: 46%;
    }

    .poster_title_1 {
        font-size: 27px;
    }

    .poster_title_2 {
        font-size: 13px;
    }

    #poster {
        left: -14%;
        bottom: 6%;
    }
} 

@media (max-width:767px) {
    .sub_header {
        display: none;
    }

    .gallery_main_1,
    .watch_box_0 {
        min-width: 200px;
        margin: 2px;
    }

    .section_box_1 {
        width: 255px;
        height: 80px;
    }

    .big_text,
    .back_text_1 {
        top: 61%;
        /* right: 80.5%; */
        left: 0%;
        font-size: 95px;
        letter-spacing: -5px;
        line-height: 97px;
    }

    p.silde_text_2 {
        font-size: 15px;
        width: 87%;
    }

    #iphone {
        top: 28%;
        right: 4%;
    }

    .watch_silde_1 {
        width: 322px;
        height: 435px;
    }

    .water_img {
        top: 58%;
        right: -2%;
        width: 527px;
    }

    .center_section {
        width: 100%;
        min-height: 788px;
    }

    .item {
        min-height: 983px;
    }

    .owl-dots {
        left: 40%;
        bottom: 4.3%;
    }

    .owl-nav button.owl-prev {
        left: 31.8%;
        bottom: -0.1%;
    }

    button.owl-next {
        right: 40%;
        bottom: -0.1%;
    }

    .owl-carousel .owl-stage-outer {
        overflow: hidden;
        height: 800px;
    }

    #camera {
        top: 37%;
        right: -10%;
    }

    #watch3 {
        top: 30%;
        right: -2%;
    }

    .watch_silde_2 {
        width: 345px;
    }

    .watch_silde_3 {
        width: 300px;
    }


    .slide-copy.col-xs-5 {
        margin: 35px 0px 0px 0px;
        padding: 45px 0px 0px 0px;
    }

    .menu_toggle_btn {
        margin-left: 40%;
    }

    .watch_card {
        flex-wrap: wrap;
        gap: 25px;
    }

    .center_1 {
        padding: 40% 0px 0px 0px;
    }

    .watch_box {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hover_img,
    img.watch_img {
        top: 10px;
        left: 18px;
        width: 160px;
    }

    .watch_1 {
        padding: 0px 0px;
    }

    .all_brand_img {
        flex-wrap: wrap;
        gap: 10px;
    }

    .poster_bg {
        width: 100%;
        height: 730px;
    }

    .poster_main_text {
        top: 10%;
        right: 18%;
        width: 60%;
        align-items: center;
    }

    .poster_img {
        width: 575px;
        height: 435px;
    }

    .poster_btn {
        width: 150px;
        height: 45px;
        font-size: 13px;
    }

    .poster_title_1 {
        font-size: 30px;
    }

    .poster_title_2 {
        font-size: 14px;
    }

    #poster {
        left: 9%;
        bottom: 13%;
    }

    .discount_img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .nav-pills .nav-link.active::before {
        bottom: -13px;
    }

    .nav-pills .nav-link.active::after {
        bottom: -1px;
        width: 45px;
    }

    ul#pills-tab {
        border-bottom: 1px solid #efefef;
        padding-left: 0px;
        justify-content: center;
        margin: 0px 0px 0px 0%;
    }

    .discount_watch {
        position: unset;
        top: 0%;
        right: 0%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .discount_wrapar {
        flex-wrap: wrap;
    }

    .watch_list_1 {
        padding: 0px 0px 0px 0px;
        justify-content: center;
    }

    .product_text {
        text-align: center;
        position: unset;
        left: 0%;
        top: 0%;
        margin-bottom: 13px;
    }

    .watch_2 {
        width: 49%;
        height: 275px;
    }

    .box_1 {
        width: 100%;
        height: 165px;
    }

    img.watch,
    .hover_img_1 {
        top: 11%;
        left: 17%;
        width: 165px;
    }

    .payment_area {
        gap: 5px;
        width: 100%;
    }
    .contry_logo {
        padding: 15px 0;
        gap: 5px;
    }
}

@media (max-width:575px) {
    .sub_header {
        display: none;
    }

    .slide-copy.col-xs-5 {
        margin: 35px 0px 0px 0px;
        padding: 45px 0px 0px 0px;
    }

    .menu_open #menu {
        width: 70%;
    }

    .center_section {
        width: 100%;
        min-height: 715px;
    }

    .watch_silde_1 {
        width: 290px;
        height: 435px;
    }

    #iphone {
        top: 26%;
        right: 9%;
    }

    .water_img {
        top: 50%;
        right: -2%;
        width: 485px;
    }

    h1.silde_text_1 {
        padding: 0% 0px 3% 0px;
        font-size: 44px;
        font-family: 'Roboto-Bold';
    }

    p.silde_text_2 {
        font-size: 14px;
        width: 76%;
    }

    p.silde_price_1 {
        padding-bottom: 2%;
        font-size: 28px;
    }

    .big_text,
    .back_text_1 {
        font-size: 80px;
        top: 56%;
        left: 6%;
    }

    #camera {
        top: 31%;
        right: -10%;
    }

    .watch_silde_2 {
        width: 325px;
    }

    #watch3 {
        top: 26%;
        right: -1%;
    }

    .watch_silde_3 {
        width: 285px;
    }

    .owl-dots {
        left: 40%;
        bottom: 12.5%;
    }

    button.owl-next {
        right: 40%;
        bottom: 7.9%;
    }

    .owl-nav button.owl-prev {
        left: 31.8%;
        bottom: 7.9%;
    }

    .watch_box {
        gap: 20px;
    }

    .in_watch_1 {
        padding: 10px 10px 10px;
    }

    .watch_text {
        gap: 2px;
    }

    .box {
        width: 170px;
        height: 175px;
    }

    .hover_img,
    img.watch_img {
        top: 10px;
        left: 10px;
        width: 150px;
    }

    .watch_1 {
        padding: 0px 0px;
    }

    .all_brand_img {
        gap: 20px;
    }

    .poster_bg {
        width: 100%;
        height: 650px;
    }

    .poster_btn {
        width: 155px;
        height: 49px;
        font-size: 12px;
    }

    .poster_img {
        width: 508px;
        height: 395px;
    }

    .poster_main_text {
        top: 9%;
        right: 5%;
        width: 83%;
        align-items: center;
    }

    .poster_title_1 {
        font-size: 27px;
    }

    .poster_title_2 {
        font-size: 13px;
    }

    #poster {
        left: 0%;
        bottom: 11%;
    }

    .box_1 {
        width: 100%;
        height: 175px;
    }

    img.watch,
    .hover_img_1 {
        position: absolute;
        top: 11%;
        left: 34%;
        width: 175px;
    }

    .watch_2 {
        width: 100%;
        height: 285px;
    }

    .footar_navbar {
        display: block;
    }

    .copyright_area {
        padding: 19px 0;
    }

    .copyright_area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .last_text_1 {
        padding: 4px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .last_text_2 {
        font-size: 13px;
        padding: 2px;
        letter-spacing: 0.8px;
    }
}

@media (max-width:450px) {
    .menu_open #menu {
        width: 75%;
    }

    .menu_toggle_btn {
        margin-left: 20%
    }

    .watch_silde_1 {
        width: 265px;
        height: 435px;
    }

    #iphone {
        top: 30%;
        right: 9%;
    }

    .water_img {
        top: 54%;
        right: -2%;
        width: 387px;
    }

    h1.silde_text_1 {
        padding: 0% 0px 4% 0px;
        font-size: 34px;
    }

    p.silde_text_2 {
        padding-bottom: 3%;
        line-height: 22px;
        font-size: 13px;
        width: 95%;
    }

    p.silde_price_1 {
        padding-bottom: 1%;
        font-size: 19px;
    }

    button.silde_btn_1 {
        width: 135px;
        height: 40px;
        font-size: 11px;
    }

    .back_text_1,
    .big_text {
        top: 50%;
        left: 2%;
        letter-spacing: -3px;
        line-height: 75px;
    }

    .watch_silde_2 {
        width: 310px;
    }

    .watch_silde_3 {
        width: 270px;
    }

    .owl-dots {
        left: 38%;
        bottom: 12.5%;
    }

    button.owl-next {
        right: 39%;
        bottom: 7.9%;
    }

    .owl-nav button.owl-prev {
        left: 29.8%;
        bottom: 7.9%;
    }

    .watch_box {
        gap: 0px;
    }

    .box {
        width: 316px;
        height: 180px;
    }

    .in_watch_1 {
        padding: 0px 20px 20px;
    }

    .watch_text {
        gap: 2px;
        align-items: center;
    }
       
    .hover_img {
        width: 160px;
        position: unset;
        transform: translate(50%, -97%);
    }
    img.watch_img{
        width: 160px;
        position: unset;
        transform: translate(50%, 4%);    
    }

    .in_watch_1:hover .like {
        top: 10px;
    }

    .watch_img_1 {
        padding: 20px 0px 5px;
    }
    .nav-pills .nav-link {
        padding: 10px;
    }
    .poster_img,
    #poster {
        width: 570px;
        height: 320px;
        left: -15%;
        bottom: 19%;
    }

    .poster_bg {
        width: 100%;
        height: 600px;
    }

    .poster_main_text {
        top: 9%;
        right: 5%;
        width: 86%;
    }

    img.watch,
    .hover_img_1 {
        top: 11%;
        left: 30%;
        width: 175px;
    }
    .contry_logo {
        gap: 1px;
    }
    button.back_top_btn {
        padding-top: 0%;
        position: fixed;
        bottom: 85px;
        z-index: 4;
    }

    .top {
        width: 50px;
        height: 122px;
        padding: 15px;
        font-size: 14px;
    }

    .footer_row {
        gap: 30px;
    }

    .link_area {
        gap: 8px;
        width: 46%;
    }

    .stores_area {
        gap: 8px;
        width: 40%;
    }

    .active {
        color: #EB6A2A;
    }
}

@media (max-width:367px) {
    .menu_toggle_btn {
        margin-left: 9%;
    }
    .logo {
        width: 125px;
    }
    .main_navbar,.in_header_wrapper {
        height: 80px;
    }
    .menu_open #menu {
        width: 88%;
    }
    h1.silde_text_1 {
        padding: 0% 0px 5% 0px;
    }
    p.silde_text_2 {
        padding-bottom: 4%;
    }
    a.silde_btn_1 {
        font-size: 11px;
        padding: 4.2% 4.3% 4.2% 4.3%;
    }
    .watch_silde_1 {
        width: 215px;
        height: 435px;
    }

    #iphone {
        top: 29%;
        right: 2%;
    }

    .water_img {
        top: 52%;
        right: -3%;
        width: 310px;
    }

    .slider_1 {
        padding: 15% 0px 0px 0px;

    }

    h1.silde_text_1 {
        padding: 0% 0px 4% 0px;
        font-size: 28px;
        font-family: 'Roboto-Bold';
    }

    p.silde_text_2 {
        line-height: 20px;
        font-size: 12px;
        width: 100%;
    }
    .hover_img {
        transform: translate(34%, -97%);
    }
    img.watch_img{
        transform: translate(34%, 4%);    
    }
    .back_text_1,
    .big_text {
        font-size: 55px;
        letter-spacing: -2px;
    }

    .watch_silde_2 {
        width: 215px;
    }

    #camera {
        top: 35%;
        right: -48%;
    }

    .watch_silde_3 {
        width: 195px;
    }

    #watch3 {
        top: 28%;
        right: -38%;
    }

    .center_section {
        width: 100%;
        min-height: 605px;
    }

    .item {
        min-height: 915px;
    }

    .owl-dots {
        left: 39%;
        bottom: 24.4%;
    }

    .owl-carousel button.owl-dot {
        border: solid 5px;
    }

    .owl-nav button.owl-prev button.owl-next {
        font-size: 60px;
    }

    .owl-nav button.owl-prev {
        left: 29.8%;
        bottom: 19.9%;
    }

    button.owl-next {
        right: 35%;
        bottom: 19.9%;
    }

    .watch_img_1 {
        padding: 15px 0px 0px;
    }

    .box {
        width: 265px;
        height: 180px;
    }

    .watch_text {
        gap: 2px;
        align-items: center;
    }

    img.watch,
    .hover_img_1 {
        top: 11%;
        left: 24%;
        width: 160px;
    }

    .watch_text_1 {
        font-size: 13px;
    }

    .watch_text_2,
    .watch_text_4,
    span.watch_text_3 {
        font-size: 15px;
    }

    .poster_img,
    #poster {
        left: -11%;
        bottom: 13%;    
        width: 458px;
        height: 273px;
    }

    .poster_main_text {
        top: 5%;
        right: 5%;
        width: 86%;
        align-items: flex-start;
        gap: 6px;
    }

    .poster_title_1 {
        font-size: 23px;
    }

    .poster_title_2 {
        font-size: 13px;
    }

    .poster_bg {
        width: 100%;
        height: 506px;
    }

    .nav-pills .nav-link {
        padding: 15px 5px 9px 8px;
    }

    .secured {
        margin-top: 35px;
    }

    i.fa-solid.fa-house,
    i.fa-regular.fa-user,
    i.fa-solid.fa-bag-shopping,
    i.fa-solid.fa-bars {
        font-size: 25px;
    }
    
    .contry_logo {
        padding: 20px 0;
        flex-direction: column;
    }
    .map_button {
        width: 130px;
        height: 42px;
    }
}
